.card {
    width: 450px;
    height: 600px;
    /* border: 1px solid gray; */
    margin: 2px;
    box-shadow: 2px 2px 4px gray;
    border-radius: 3px;

}

.player-img {
    width: 450px;

}

.cart-btn {
    padding: 5px 10px;
    border: none;
    margin: 3px;
    background-color: blue;
}